* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: gray;
}

body {
    background-image: url("./retro_rose_pattern_241386.jpg");
}

#search {
    border: solid, black;
    border-top: solid, black;
    border-bottom: solid, black;
    border-left: solid, black;
    border-right: solid, black;
}

/*#searchb {
    height: calc(1.5em + .75rem + 2px);
    border-radius: .25rem;
    margin: 20px;
}*/

/*.col-lg-4 {
    height: 300px;
}*/

#powerdown {
   text-align: left;
}

#powerup {
    text-align: center;
 }

.down {
   /* background-color:lightcoral; */
    display: inline;
}

/*.up {
      display: inline;
  }*/


div.col-lg-4 {
    object-position: center;
    padding: 16px;
    margin: auto;
}

.list-group {
    min-height: 200px;
    list-style: none;
    padding:20px; 
    border-top: solid, grey;
    border-bottom: solid, grey;
    border-left: solid, grey;
    border-right: solid, grey;
    box-shadow: beige;
    background-color: white;
  }


  ul {
    background-color: white;
    border:1px solid #000;
    margin: auto; 
    padding-left: 30px;
    padding-right: 30px;

 }

.card {
    background-color: tan;
    border: solid, black;
    border-top: solid, black;
    border-bottom: solid, black;
    border-left: solid, black;
    border-right: solid, black;
    font-style: white;
    text-decoration-color: white;
    color: white;
    width: 100px;
    height: 100px;

}

#progress {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
}

#decrement {
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
}

#increment {
    margin: 10px;
    padding: 20px;
    justify-content: space-around;
}